body {
  padding-top: 60px;
}

h3 {
padding-bottom: 10px;
}
p {
padding-top: 10px;
font-size: 20px;
}

a{
color:black;
}

.nav-item{
padding-right: 20px;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
    }

        #mainNav .navbar-brand {
            font-size: 2em;
            -webkit-transition: font-size 0.3s;
            -moz-transition: font-size 0.3s;
            transition: font-size 0.3s;
        }

        #mainNav .navbar-nav {
            margin-top: 0;
        }

        #mainNav.navbar-shrink {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

            #mainNav.navbar-shrink .navbar-brand {
                font-size: 1.5em;
            }
}

#ha{
    background-image: url("../res/lollipop_cover.png");
    background-size:cover;
}